In [22]:
import pandas as pd
import numpy as np
import json, pickle

In [17]:
df = pd.read_csv("datafiles/metroAreaCondensed.csv")
df.rename({"Unnamed: 0":"a"}, axis="columns", inplace=True)
df = df.drop(columns=["a"])

column_names = json.loads(open("Real Estate Scraping/GoogleCache/PayloadJSON-Zillow/data.json").read()).keys()

for x in column_names:
    df[x] = ""
    
df["taxAssessedValue"] = ""
df["averageSchoolRating"] = ""
df["description"] = ""
df["price"] = ""
df["priceForHDP"] = ""
df["hoaFee"] = ""
df["contactPhone"] = ""
df["status"] = "NEW"

clustered_data = np.array_split(df, 23)
for clustered_df in range(len(clustered_data)):
    clustered_data[clustered_df] = clustered_data[clustered_df].reset_index()
    pickle.dump(clustered_data[clustered_df], open(f'datafiles/metroAreaChunks/metroArea{clustered_df}.ft', 'wb'))

In [23]:
df1 = pickle.load(open('datafiles/metroAreaChunks/metroArea0.ft', 'rb'))

In [24]:
len(df)

107801

In [25]:
len(df1[df1["zpid"] != ""])

9

In [29]:
df1[df1["status"] != "NEW"]

,index,totPurchaseAmt,street1,zip,property,zpid,streetAddress,zipcode,city,state,...,taxAssessedValue,streetAddressOnly,unit,averageSchoolRating,description,price,priceForHDP,hoaFee,contactPhone,status
0,0,152000.00,538 78th Avenue NE,55432.0,538 78th Avenue NE 55432,1475959,538 78th Ave NE,55432,Spring Lake Park,MN,...,-1,538 78th Ave NE,,4,"Just move in! End unit, deck, double garage, w...",152000,152000,230,,Completed
1,1,198000.00,14649 Iodine Ct NW,55303.0,14649 Iodine Ct NW 55303,1539563,14649 Iodine Ct NW,55303,Ramsey,MN,...,-1,14649 Iodine Ct NW,,5.33333,"14649 Iodine Ct NW, Ramsey, MN is a single fam...",198000,198000,,,Completed
2,2,155000.00,5445 E Brenner Pass,55432.0,5445 E Brenner Pass 55432,,,,,,...,,,,,,,,,,Error
3,3,130000.00,10921 Dogwood Street,55448.0,10921 Dogwood Street 55448,1503295,10921 Dogwood St NW,55448,Coon Rapids,MN,...,-1,10921 Dogwood St NW,,5.66667,"10921 Dogwood St NW, Coon Rapids, MN is a sing...",130000,130000,,,Completed
4,4,415000.00,16931 Helium Street NW,55303.0,16931 Helium Street NW 55303,1500884,16931 Helium St NW,55303,Ramsey,MN,...,-1,16931 Helium St NW,,6.33333,Stunning walk to Rum River and Creek running t...,415000,415000,,,Completed
5,5,329900.00,2372 Tart Lake Road,55038.0,2372 Tart Lake Road 55038,55182405,2372 Tart Lake Rd,55038,Lino Lakes,MN,...,-1,2372 Tart Lake Rd,,6.5,"2372 Tart Lake Rd, Lino Lakes, MN is a single ...",305657,305657,,,Completed
6,6,262000.00,1211 106th Lane NW,55043.0,1211 106th Lane NW 55043,1524296,1211 106th Ln NW,55433,Coon Rapids,MN,...,-1,1211 106th Ln NW,,4.66667,"This large rambler is located on a beautiful, ...",262000,262000,,,Completed
7,7,280000.00,2625 172nd Ave NW,55304.0,2625 172nd Ave NW 55304,1493849,2625 172nd Ave NW,55304,Andover,MN,...,-1,2625 172nd Ave NW,,7.33333,You won't want to miss out on this beautiful h...,280000,280000,,,Completed
8,8,237000.00,7557 4th St NE,55432.0,7557 4th St NE 55432,1496511,7557 4th St NE,55432,Fridley,MN,...,-1,7557 4th St NE,,3.66667,"Great, Updated, Ready To Move In, Starter Home...",237000,237000,,,Completed
9,9,450000.00,17200 Tungsten St NW,55303.0,17200 Tungsten St NW 55303,1498118,17200 Tungsten St NW,55303,Ramsey,MN,...,-1,17200 Tungsten St NW,,6.33333,"Say goodbye to small lots and noisy streets, s...",450000,450000,,,Completed
10,10,230000.00,4624 Heights Drive NE,55421.0,4624 Heights Drive NE 55421,,,,,,...,,,,,,,,,,Error
11,11,457193.99,12413 Alder St NW,55448.0,12413 Alder St NW 55448,,,,,,...,,,,,,,,,,Error
12,12,143700.00,632 Jackson St,55303.0,632 Jackson St 55303,,,,,,...,,,,,,,,,,Error
13,13,163900.00,4321 Madison Street NE,55421.0,4321 Madison Street NE 55421,,,,,,...,,,,,,,,,,Error
14,14,775000.00,4702 155th Avenue NE,55304.0,4702 155th Avenue NE 55304,,,,,,...,,,,,,,,,,Error
15,15,359000.00,19031 University Avenue,55011.0,19031 University Avenue 55011,,,,,,...,,,,,,,,,,Error
16,16,485000.00,16378 Wintergreen Street NW,55304.0,16378 Wintergreen Street NW 55304,,,,,,...,,,,,,,,,,Error
17,17,340000.00,648 129th Ave NE,55434.0,648 129th Ave NE 55434,,,,,,...,,,,,,,,,,Error