In [11]:
import pandas as pd
import numpy as np
import json, pickle

In [12]:
df = pd.read_csv("datafiles/metroAreaCondensed.csv")
df.rename({"Unnamed: 0":"a"}, axis="columns", inplace=True)
df = df.drop(columns=["a"])

# column_names = json.loads(open("Real Estate Scraping/GoogleCache/PayloadJSON-Zillow/data.json").read()).keys()

df["ZillowURL"] = ""
# for x in column_names:
#     df[x] = ""
    
# df["taxAssessedValue"] = ""
# df["averageSchoolRating"] = ""
# df["description"] = ""
# df["price"] = ""
# df["priceForHDP"] = ""
# df["hoaFee"] = ""
# df["contactPhone"] = ""
# df["status"] = "NEW"

clustered_data = np.array_split(df, 23)
for clustered_df in range(len(clustered_data)):
    clustered_data[clustered_df] = clustered_data[clustered_df].reset_index()
    pickle.dump(clustered_data[clustered_df], open(f'datafiles/metroAreaChunks/metroArea{clustered_df}.ft', 'wb'))

In [22]:
df1 = pickle.load(open('datafiles/metroAreaChunks/metroArea0.ft', 'rb'))

In [23]:
len(df)

107801

In [24]:
len(df1[df1["ZillowURL"] != ""]), len(df1[df1["ZillowURL"] == ""])

(929, 3758)

In [26]:
df1[df1["ZillowURL"] == "None"]

,index,totPurchaseAmt,street1,zip,property,ZillowURL
28,28,200000.0,23-30-24-13-0044,55432.0,23-30-24-13-0044 55432,None
322,322,153000.0,XXXX Loyola Street Northeast,0.0,XXXX Loyola Street Northeast 00000,None
626,626,363000.0,2850 93rd Ave NE,55449.0,2850 93rd Ave NE 55449,None
627,627,359000.0,20591 Washington Street Northeast,55011.0,20591 Washington Street Northeast 55011,None