In [1]:
import pandas as pd
import numpy as np
import json, pickle

In [12]:
# df = pd.read_csv("datafiles/metroAreaCondensed.csv")
# df.rename({"Unnamed: 0":"a"}, axis="columns", inplace=True)
# df = df.drop(columns=["a"])

# # column_names = json.loads(open("Real Estate Scraping/GoogleCache/PayloadJSON-Zillow/data.json").read()).keys()

# df["ZillowURL"] = ""
# # for x in column_names:
# #     df[x] = ""
    
# # df["taxAssessedValue"] = ""
# # df["averageSchoolRating"] = ""
# # df["description"] = ""
# # df["price"] = ""
# # df["priceForHDP"] = ""
# # df["hoaFee"] = ""
# # df["contactPhone"] = ""
# # df["status"] = "NEW"

# clustered_data = np.array_split(df, 23)
# for clustered_df in range(len(clustered_data)):
#     clustered_data[clustered_df] = clustered_data[clustered_df].reset_index()
#     pickle.dump(clustered_data[clustered_df], open(f'datafiles/metroAreaChunks/metroArea{clustered_df}.ft', 'wb'))

In [9]:
FILE_NUMBER = 10

df = pickle.load(open(f'datafiles/BingScraped/metroArea{FILE_NUMBER}.ft', 'rb'))

column_names = json.loads(open("Real Estate Scraping/PayloadJSON-Zillow/data.json").read()).keys()

for x in column_names:
    df[x] = ""

df = df[df["ZillowURL"] != "None"]
    
df["taxAssessedValue"] = ""
df["averageSchoolRating"] = ""
df["description"] = ""
df["price"] = ""
df["priceForHDP"] = ""
df["hoaFee"] = ""
df["contactPhone"] = ""
df["status"] = "NEW"

pickle.dump(df, open(f'datafiles/BingScraped/metroArea{FILE_NUMBER}.ft', 'wb'))

df

,index,totPurchaseAmt,street1,zip,property,ZillowURL,zpid,streetAddress,zipcode,city,...,taxAssessedValue,streetAddressOnly,unit,averageSchoolRating,description,price,priceForHDP,hoaFee,contactPhone,status
0,46870,2300000.0,1700 Mount Curve Ave,55403.0,1700 Mount Curve Ave 55403,https://www.zillow.com/homedetails/1700-Mount-...,,,,,...,,,,,,,,,,NEW
1,46871,22000.0,3010 Morgan Avenue N,55411.0,3010 Morgan Avenue N 55411,https://www.zillow.com/homedetails/3010-Morgan...,,,,,...,,,,,,,,,,NEW
2,46872,159900.0,9301 Stevens Ave S,55420.0,9301 Stevens Ave S 55420,https://www.zillow.com/homedetails/9301-Steven...,,,,,...,,,,,,,,,,NEW
3,46873,660000.0,6200 St. Alban's Circle,55439.0,6200 St. Alban's Circle 55439,https://www.zillow.com/homedetails/6200-Saint-...,,,,,...,,,,,,,,,,NEW
4,46874,375000.0,6040 Kellogg AVenue,55424.0,6040 Kellogg AVenue 55424,https://www.zillow.com/homedetails/6040-Kellog...,,,,,...,,,,,,,,,,NEW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4682,51552,329474.0,17310 24th Ave N,55447.0,17310 24th Ave N 55447,,,,,,...,,,,,,,,,,NEW
4683,51553,291000.0,9300 Rath Place,55347.0,9300 Rath Place 55347,,,,,,...,,,,,,,,,,NEW
4684,51554,538000.0,2570 Abbey Hill Drive,55305.0,2570 Abbey Hill Drive 55305,,,,,,...,,,,,,,,,,NEW
4685,51555,470000.0,9433 Vernon Way,55373.0,9433 Vernon Way 55373,,,,,,...,,,,,,,,,,NEW
4686,51556,230000.0,7339 S. 1st Ave,55423.0,7339 S. 1st Ave 55423,,,,,,...,,,,,,,,,,NEW

In [2]:
df1 = pickle.load(open('datafiles/metroAreaChunks/metroArea0.ft', 'rb'))

print(len(df1[df1["ZillowURL"] != ""]), len(df1[df1["ZillowURL"] == ""]))
print(len(df1[df1["ZillowURL"] == "None"]))

4687 0
42

In [2]:
file_numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
df = pd.DataFrame()
for x in file_numbers:
    df1 = pickle.load(open(f'datafiles/BingScraped/metroArea{x}.ft', 'rb'))
    df = pd.concat([df, df1[df1["status"] == "Completed"]], ignore_index=True)
    print(x, len(df1[df1["status"] == "Completed"]))
    
df.to_csv("data.csv")

0 4009
1 3785
2 1079
3 591
4 744
5 682
6 351
7 640
8 646
9 582
10 386

In [3]:
len(df)

13495

In [ ]:
0 4009
1 3785
2 1079
3 591
4 638
5 588
6 239
7 557
8 552
9 499
10 302