In [1]:
import pandas as pd
import numpy as np
import json, pickle

In [2]:
df = pd.read_csv("datafiles/metroAreaCondensed.csv")
df.rename({"Unnamed: 0":"a"}, axis="columns", inplace=True)
df = df.drop(columns=["a"])

column_names = json.loads(open("Real Estate Scraping/GoogleCache/PayloadJSON-Zillow/data.json").read()).keys()

for x in column_names:
    df[x] = ""
    
df["taxAssessedValue"] = ""
df["averageSchoolRating"] = ""
df["description"] = ""
df["price"] = ""
df["priceForHDP"] = ""
df["hoaFee"] = ""
df["contactPhone"] = ""
df["status"] = "NEW"

clustered_data = np.array_split(df, 23)
for clustered_df in range(len(clustered_data)):
    clustered_data[clustered_df] = clustered_data[clustered_df].reset_index()
    pickle.dump(clustered_data[clustered_df], open(f'datafiles/metroAreaChunks/metroArea{clustered_df}.ft', 'wb'))

In [13]:
df1 = pickle.load(open('datafiles/metroAreaChunks/metroArea0.ft', 'rb'))

In [14]:
len(df)

107801

In [15]:
len(df1[df1["zpid"] != ""])

13

In [12]:
df1[df1["zpid"] != ""]

,index,totPurchaseAmt,street1,zip,property,zpid,streetAddress,zipcode,city,state,...,currency,country,taxAssessedValue,streetAddressOnly,unit,averageSchoolRating,description,price,priceForHDP,hoaFee
0,0,152000.0,538 78th Avenue NE,55432.0,538 78th Avenue NE 55432,1475959,538 78th Ave NE,55432,Spring Lake Park,MN,...,USD,USA,-1,538 78th Ave NE,,4,"Just move in! End unit, deck, double garage, w...",152000,152000,230
1,1,198000.0,14649 Iodine Ct NW,55303.0,14649 Iodine Ct NW 55303,1539563,14649 Iodine Ct NW,55303,Ramsey,MN,...,USD,USA,-1,14649 Iodine Ct NW,,5.33333,"14649 Iodine Ct NW, Ramsey, MN is a single fam...",198000,198000,
3,3,130000.0,10921 Dogwood Street,55448.0,10921 Dogwood Street 55448,1503295,10921 Dogwood St NW,55448,Coon Rapids,MN,...,USD,USA,-1,10921 Dogwood St NW,,5.66667,"10921 Dogwood St NW, Coon Rapids, MN is a sing...",130000,130000,
4,4,415000.0,16931 Helium Street NW,55303.0,16931 Helium Street NW 55303,1500884,16931 Helium St NW,55303,Ramsey,MN,...,USD,USA,-1,16931 Helium St NW,,6.33333,Stunning walk to Rum River and Creek running t...,415000,415000,